// 颜色
$accentColor = #2989FF // 颜色
$textColor = #04407D // 颜色
$borderColor = #EAECEF // 颜色
$codeBgColor = #2359C4 // 颜色
$arrowBgColor = #CCCCCC // 颜色
$badgeTipColor = #1C62C9 // 颜色
$badgeWarningColor = #ffe564, 35% // 颜色
$badgeErrorColor = #B8111C // 颜色

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px